/* Defaults */
$content-width: 114rem;
$min-width: 32rem;

/* Sizes */
$min-sizes-list: "xs", "s";
$default-size: "m";
$max-sizes-list: "l", "xl", "xxl";

/* ============================================
* Typography
* 1rem = 10px
* Scaling e.g(1.067, 1.125, 1.2, 1.25, 1.333, 1.414, 1.5, 1.618)
* ============================================ */
// Text
$text-min-base-font: 1.6rem;
$text-max-base-font: 1.8rem;
$text-min-type-scale: 1.25;
$text-max-type-scale: 1.333;
// Heading
$heading-min-base-font: 1.8rem;
$heading-max-base-font: 2rem;
$heading-min-type-scale: 1.2;
$heading-max-type-scale: 1.25;
// Get the fluid font sizes
$text-sizes: (
	"xs": clamp(1.02rem, -0.01vi + 1.03rem, 1.01rem),
	"s": clamp(1.28rem, 0.09vi + 1.25rem, 1.35rem),
	"m": clamp(1.6rem, 0.24vi + 1.52rem, 1.8rem),
	"l": clamp(2rem, 0.49vi + 1.84rem, 2.4rem),
	"xl": clamp(2.5rem, 0.85vi + 2.23rem, 3.2rem),
	"xxl": clamp(3.13rem, 1.39vi + 2.68rem, 4.26rem),
);
$heading-sizes: (
	"xs": clamp(1.25rem, 0.04vi + 1.24rem, 1.28rem),
	"s": clamp(1.5rem, 0.12vi + 1.46rem, 1.6rem),
	"m": clamp(1.8rem, 0.24vi + 1.72rem, 2rem),
	"l": clamp(2.16rem, 0.41vi + 2.03rem, 2.5rem),
	"xl": clamp(2.59rem, 0.65vi + 2.38rem, 3.13rem),
	"xxl": clamp(3.11rem, 0.97vi + 2.8rem, 3.91rem),
);

/* ============================================
* Spacing (padding or margin)
* ============================================ */
$space-min-value: 2rem;
$space-max-value: 4rem;
$space-min-type-scale: 1.25;
$space-max-type-scale: 1.333;
$space-sizes: (
	"xs": clamp(1.28rem, 1.18vi + 0.9rem, 2.25rem),
	"s": clamp(1.6rem, 1.71vi + 1.05rem, 3rem),
	"m": clamp(2rem, 2.44vi + 1.22rem, 4rem),
	"l": clamp(2.5rem, 3.45vi + 1.39rem, 5.33rem),
	"xl": clamp(3.13rem, 4.86vi + 1.57rem, 7.11rem),
	"xxl": clamp(3.91rem, 6.79vi + 1.73rem, 9.47rem),
);

/* ============================================
* Gap
* ============================================ */
$gap-min-value: 1rem;
$gap-max-value: 3rem;
$gap-min-type-scale: 1.25;
$gap-max-type-scale: 1.333;
$gap-sizes: (
	"xs": clamp(0.64rem, 1.28vi + 0.23rem, 1.69rem),
	"s": clamp(0.8rem, 1.77vi + 0.23rem, 2.25rem),
	"m": clamp(1rem, 2.44vi + 0.22rem, 3rem),
	"l": clamp(1.25rem, 3.35vi + 0.18rem, 4rem),
	"xl": clamp(1.56rem, 4.6vi + 0.09rem, 5.33rem),
	"xxl": clamp(1.95rem, 6.28vi + -0.06rem, 7.11rem),
);
