@use "defaults";
@use "variables";

:root {
	// Colors
	// ========== Black & White ==========
	--black: #{variables.$black};
	--black-light: #{variables.$black-light};
	--black-ultra-light: #{variables.$black-ultra-light};
	--black-dark: #{variables.$black-dark};
	--black-ultra-dark: #{variables.$black-ultra-dark};
	--white: #{variables.$white};
	// ========== Primary ==========
	--primary: #{variables.$primary};
	--primary-light: #{variables.$primary-light};
	--primary-ultra-light: #{variables.$primary-ultra-light};
	--primary-dark: #{variables.$primary-dark};
	--primary-ultra-dark: #{variables.$primary-ultra-dark};
	// ========== Secondary ==========
	--secondary: #{variables.$secondary};
	--secondary-light: #{variables.$secondary-light};
	--secondary-ultra-light: #{variables.$secondary-ultra-light};
	--secondary-dark: #{variables.$secondary-dark};
	--secondary-ultra-dark: #{variables.$secondary-ultra-dark};
	// ========== Accent ==========
	--accent: #{variables.$accent};
	--accent-light: #{variables.$accent-light};
	--accent-ultra-light: #{variables.$accent-ultra-light};
	--accent-dark: #{variables.$accent-dark};
	--accent-ultra-dark: #{variables.$accent-ultra-dark};
	// ========== Base ==========
	--base: #{variables.$base};
	--base-light: #{variables.$base-light};
	--base-ultra-light: #{variables.$base-ultra-light};
	--base-dark: #{variables.$base-dark};
	--base-ultra-dark: #{variables.$base-ultra-dark};
}
