@use "sass:list";
@use "sass:map";
@use "defaults";

$text__font-family: figtree, sans-serif;

/* Colors */
// ========== Black & White ==========
$black: 0 0% 0%;
$black-light: 0 0% 60%;
$black-ultra-light: 0 0% 80%;
$black-dark: 0 0% 40%;
$black-ultra-dark: 0 0% 20%;

// ========== White (Light, Ultra Light, Dark, Ultra Dark) ==========
$white: 0 0% 100%;

// ========== Primary (Light, Ultra Light, Dark, Ultra Dark) ==========
$primary: 189 94% 43%;
$primary-light: 189 94% 60%;
$primary-ultra-light: 189 94% 80%;
$primary-dark: 189 94% 40%;
$primary-ultra-dark: 189 94% 20%;

// ========== Secondary (Light, Ultra Light, Dark, Ultra Dark) ==========
$secondary: 48 96% 53%;
$secondary-light: 48 96% 60%;
$secondary-ultra-light: 48 96% 80%;
$secondary-dark: 48 96% 40%;
$secondary-ultra-dark: 48 96% 20%;

// ========== Accent (Light, Ultra Light, Dark, Ultra Dark) ==========
$accent: 271 81% 56%;
$accent-light: 271 81% 60%;
$accent-ultra-light: 271 81% 80%;
$accent-dark: 271 81% 40%;
$accent-ultra-dark: 271 81% 20%;

// ========== Base (Light, Ultra Light, Dark, Ultra Dark) ==========
$base: 0 0% 0%;
$base-light: 0 0% 60%;
$base-ultra-light: 0 0% 80%;
$base-dark: 0 0% 40%;
$base-ultra-dark: 0 0% 20%;
