@use "sass:list";
@use "sass:map";

// Fonts & Text
$text__font-family: "Open Sans", sans-serif;
$text__font-weight: 400;
$text__line-height: 1.5;

$heading__font-weight: 700;
$heading__line-height: 1.3;

/* Font sizes */
$text-xxl: map.get($text-sizes, "xxl");
$text-xl: map.get($text-sizes, "xl");
$text-l: map.get($text-sizes, "l");
$text-m: map.get($text-sizes, "m");
$text-s: map.get($text-sizes, "s");
$text-xs: map.get($text-sizes, "xs");

$heading-1: map.get($heading-sizes, "xxl");
$heading-2: map.get($heading-sizes, "xl");
$heading-3: map.get($heading-sizes, "l");
$heading-4: map.get($heading-sizes, "m");
$heading-5: map.get($heading-sizes, "s");
$heading-6: map.get($heading-sizes, "xs");

/* Spacing */
$space-xxl: map.get($space-sizes, "xxl");
$space-xl: map.get($space-sizes, "xl");
$space-l: map.get($space-sizes, "l");
$space-m: map.get($space-sizes, "m");
$space-s: map.get($space-sizes, "s");
$space-xs: map.get($space-sizes, "xs");

/* Gap */
$gap-xxl: map.get($gap-sizes, "xxl");
$gap-xl: map.get($gap-sizes, "xl");
$gap-l: map.get($gap-sizes, "l");
$gap-m: map.get($gap-sizes, "m");
$gap-s: map.get($gap-sizes, "s");
$gap-xs: map.get($gap-sizes, "xs");

/* Colors */
// ========== Black & White ==========
$black: 0 0% 0%;
$black-light: 0 0% 60%;
$black-ultra-light: 0 0% 80%;
$black-dark: 0 0% 40%;
$black-ultra-dark: 0 0% 20%;

// ========== White (Light, Ultra Light, Dark, Ultra Dark) ==========
$white: 0 0% 100%;

// ========== Primary (Light, Ultra Light, Dark, Ultra Dark) ==========
$primary: 189 94% 43%;
$primary-light: 189 94% 60%;
$primary-ultra-light: 189 94% 80%;
$primary-dark: 189 94% 40%;
$primary-ultra-dark: 189 94% 20%;

// ========== Secondary (Light, Ultra Light, Dark, Ultra Dark) ==========
$secondary: 48 96% 53%;
$secondary-light: 48 96% 60%;
$secondary-ultra-light: 48 96% 80%;
$secondary-dark: 48 96% 40%;
$secondary-ultra-dark: 48 96% 20%;

// ========== Accent (Light, Ultra Light, Dark, Ultra Dark) ==========
$accent: 271 81% 56%;
$accent-light: 271 81% 60%;
$accent-ultra-light: 271 81% 80%;
$accent-dark: 271 81% 40%;
$accent-ultra-dark: 271 81% 20%;

// ========== Base (Light, Ultra Light, Dark, Ultra Dark) ==========
$base: 0 0% 0%;
$base-light: 0 0% 60%;
$base-ultra-light: 0 0% 80%;
$base-dark: 0 0% 40%;
$base-ultra-dark: 0 0% 20%;
