@use 'sass:list';
@use 'sass:map';

/* Defaults */
$content-width: 128rem;
$min-width: 32rem;

/* Typography 
* Base fonts (mobile and desktop)
*/
$min-base-font: 1.6rem; // 16px
$max-base-font: 1.8rem; // 18px
// Scaling e.g(1.067, 1.125, 1.2, 1.25, 1.333, 1.414, 1.5, 1.618)
$min-type-scale: 1.25;
$max-type-scale: 1.333;
// Sizes
$min-sizes-list: 'xs', 's';
$default-size: 'm';
$max-sizes-list: 'l', 'xl', 'xxl';
// Fonts list
$min-font-list: ();
$max-font-list: ();
// Array to hold font sizes
$text-sizes: ();
$heading-sizes: ();

// Generate font list
$min-font-list: generate_font_list($min-base-font, $min-type-scale, $min-sizes-list, $max-sizes-list);
$max-font-list: generate_font_list($max-base-font, $max-type-scale, $min-sizes-list, $max-sizes-list);

// Combine font names and sizes
$font-name-list: join($min-sizes-list, $default-size);
$font-name-list: join($font-name-list, $max-sizes-list);

// Get the fluid font sizes
$text-sizes: generate_fluid_fonts($min-font-list, $max-font-list, $font-name-list);
$heading-sizes: generate_fluid_fonts($min-font-list, $max-font-list, $font-name-list);

@debug $text-sizes;

// Fonts
$text__font-family: 'Open Sans', sans-serif;
$text__font-weight: 400;
$text__line-height: 1.5;

$heading__font-weight: 700;
$heading__line-height: 1.3;

/* Font sizes */
$text-xxl: map.get($text-sizes, 'xxl');
$text-xl: map.get($text-sizes, 'xl');
$text-l: map.get($text-sizes, 'l');
$text-m: map.get($text-sizes, 'm');
$text-s: map.get($text-sizes, 's');
$text-xs: map.get($text-sizes, 'xs');

/* Spacing */
$space-xl: 1.5rem;
$space-l: 1.5rem;
$space-m: 1.5rem;
$space-s: 1rem;
$space-xs: 1rem;

/* Gap */
$gap-xl: 1.5rem;
$gap-l: 1.5rem;
$gap-m: 1.5rem;
$gap-s: 1rem;
$gap-xs: 1rem;

/* Colors */
// --------Black--------
$black: hsla(0, 0%, 0%, 1);
$black-90: hsla(0, 0%, 0%, 0.9);
$black-80: hsla(0, 0%, 0%, 0.8);
$black-70: hsla(0, 0%, 0%, 0.7);
$black-60: hsla(0, 0%, 0%, 0.6);
$black-50: hsla(0, 0%, 0%, 0.5);
$black-40: hsla(0, 0%, 0%, 0.4);
$black-30: hsla(0, 0%, 0%, 0.3);
$black-20: hsla(0, 0%, 0%, 0.2);
$black-10: hsla(0, 0%, 0%, 0.1);

// white
$white: hsla(255, 100%, 100%, 1);
$white-90: hsla(255, 100%, 100%, 0.9);
$white-80: hsla(255, 100%, 100%, 0.8);
$white-70: hsla(255, 100%, 100%, 0.7);
$white-60: hsla(255, 100%, 100%, 0.6);
$white-50: hsla(255, 100%, 100%, 0.5);
$white-40: hsla(255, 100%, 100%, 0.4);
$white-30: hsla(255, 100%, 100%, 0.3);
$white-20: hsla(255, 100%, 100%, 0.2);
$white-10: hsla(255, 100%, 100%, 0.1);

// Primary Color Variants.

/*$color--primary: #406de4;*/
/*$color--primary: #00BCD4;*/
/*$color--primary: #03A9F4;*/
/*$color--primary: #3498db;*/
/*$color--primary: #2980b9;*/
/*$color--primary: #3F51B5;*/
/*$color--primary: #304FFE;*/
/*$color--primary: #FF5722;*/
/*$color--primary: #795548;*/
/*$color--primary: #2ecc71;*/
/*$color--primary: #27ae60;*/
/*$color--primary: #35ad68;*/
/*$color--primary: #1abc9c;*/
/*$color--primary: #16a085;*/
/*$color--primary: #9b59b6;*/
/*$color--primary: #8e44ad;*/
// $color--primary: #4A148C;
/*$color--primary: #673AB7;*/
/*$color--primary: #FFA000;*/
/*$color--primary: #FBC02D;*/
/*$color--primary: #f1c40f;*/
/*$color--primary: #f39c12;*/
/*$color--primary: #e67e22;*/
/*$color--primary: #d35400;*/
/*$color--primary: #e74c3c;*/
/*$color--primary: #c0392b;*/
/*$color--primary: #f44336;*/
$color--primary: #cf4748;
// $color--primary: #7f8c8d;
/*$color--primary: #34495e;*/
/*$color--primary: #607D8B;*/
