@use 'sass:list';
@use 'sass:map';

// Fonts
$text__font-family: 'Open Sans', sans-serif;
$text__font-weight: 400;
$text__line-height: 1.5;

$heading__font-weight: 700;
$heading__line-height: 1.3;

/* Font sizes */
$text-xxl: map.get($text-sizes, 'xxl');
$text-xl: map.get($text-sizes, 'xl');
$text-l: map.get($text-sizes, 'l');
$text-m: map.get($text-sizes, 'm');
$text-s: map.get($text-sizes, 's');
$text-xs: map.get($text-sizes, 'xs');

$heading-1: map.get($heading-sizes, 'xxl');
$heading-2: map.get($heading-sizes, 'xl');
$heading-3: map.get($heading-sizes, 'l');
$heading-4: map.get($heading-sizes, 'm');
$heading-5: map.get($heading-sizes, 's');
$heading-6: map.get($heading-sizes, 'xs');

/* Spacing */
$space-xxl: map.get($space-sizes, 'xxl');
$space-xl: map.get($space-sizes, 'xl');
$space-l: map.get($space-sizes, 'l');
$space-m: map.get($space-sizes, 'm');
$space-s: map.get($space-sizes, 's');
$space-xs: map.get($space-sizes, 'xs');

/* Gap */
$gap-xl: map.get($gap-sizes, 'xxl');
$gap-xl: map.get($gap-sizes, 'xl');
$gap-l: map.get($gap-sizes, 'l');
$gap-m: map.get($gap-sizes, 'm');
$gap-s: map.get($gap-sizes, 's');
$gap-xs: map.get($gap-sizes, 'xs');

/* Colors */
// --------Black--------
$black: hsla(0, 0%, 0%, 1);
$black-90: hsla(0, 0%, 0%, 0.9);
$black-80: hsla(0, 0%, 0%, 0.8);
$black-70: hsla(0, 0%, 0%, 0.7);
$black-60: hsla(0, 0%, 0%, 0.6);
$black-50: hsla(0, 0%, 0%, 0.5);
$black-40: hsla(0, 0%, 0%, 0.4);
$black-30: hsla(0, 0%, 0%, 0.3);
$black-20: hsla(0, 0%, 0%, 0.2);
$black-10: hsla(0, 0%, 0%, 0.1);

// white
$white: hsla(255, 100%, 100%, 1);
$white-90: hsla(255, 100%, 100%, 0.9);
$white-80: hsla(255, 100%, 100%, 0.8);
$white-70: hsla(255, 100%, 100%, 0.7);
$white-60: hsla(255, 100%, 100%, 0.6);
$white-50: hsla(255, 100%, 100%, 0.5);
$white-40: hsla(255, 100%, 100%, 0.4);
$white-30: hsla(255, 100%, 100%, 0.3);
$white-20: hsla(255, 100%, 100%, 0.2);
$white-10: hsla(255, 100%, 100%, 0.1);

// Primary Color Variants.

/*$color--primary: #406de4;*/
/*$color--primary: #00BCD4;*/
/*$color--primary: #03A9F4;*/
/*$color--primary: #3498db;*/
/*$color--primary: #2980b9;*/
/*$color--primary: #3F51B5;*/
/*$color--primary: #304FFE;*/
/*$color--primary: #FF5722;*/
/*$color--primary: #795548;*/
/*$color--primary: #2ecc71;*/
/*$color--primary: #27ae60;*/
/*$color--primary: #35ad68;*/
/*$color--primary: #1abc9c;*/
/*$color--primary: #16a085;*/
/*$color--primary: #9b59b6;*/
/*$color--primary: #8e44ad;*/
// $color--primary: #4A148C;
/*$color--primary: #673AB7;*/
/*$color--primary: #FFA000;*/
/*$color--primary: #FBC02D;*/
/*$color--primary: #f1c40f;*/
/*$color--primary: #f39c12;*/
/*$color--primary: #e67e22;*/
/*$color--primary: #d35400;*/
/*$color--primary: #e74c3c;*/
/*$color--primary: #c0392b;*/
/*$color--primary: #f44336;*/
$color--primary: #cf4748;
// $color--primary: #7f8c8d;
/*$color--primary: #34495e;*/
/*$color--primary: #607D8B;*/
