/* Button defaults */
button {
	@include form-defaults($display: inline-block, $background: hsla(var(--primary)), $padding: 0.75em 1em);
	color: hsla(var(--white));
	max-width: 14rem;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:hover,
	&:focus {
		background-color: hsla(var(--primary-dark));
	}

	&:focus {
		outline: 2px solid hsla(var(--primary));
		outline-offset: 0.2rem;
	}
}
