/* Button defaults */
button {
	@include form-defaults($display: inline-block, $width: auto, $background: hsla(var(--black)), $padding: 0.75em 1em);
	color: hsla(var(--white));
	max-width: 14rem;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:focus {
		outline: 2px solid hsla(var(--primary));
		outline-offset: 0.2rem;
	}
}
