@use "../../abstracts/mixins/mixins";

input {
	--outline-size: 2px;

	&:focus-visible {
		outline: var(--outline-size) solid var(--wp--preset--color--primary);
		outline-offset: var(--outline-size);
	}
	&:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="hidden"]) {
		@include mixins.form-defaults;
		border-width: 1px;
	}

	// &[type="checkbox"] {

	// }

	&[type="button"],
	&[type="submit"],
	&[type="reset"] {
		padding: 0.75em 1em;
		cursor: pointer;
		background: var(--wp--preset--color--primary);
		border: 1px solid var(--wp--preset--color--primary);
		color: var(--wp--preset--color--white);
	}
}

textarea {
	@include mixins.form-defaults;

	&:focus-visible {
		outline: var(--outline-size) solid var(--wp--preset--color--primary);
		outline-offset: var(--outline-size);
	}
}

select {
	width: 100%;
}
