.ag-site-footer {
	background: hsla(var(--wp--custom--color--black-ultra-light) / 0.2);
	padding-block: var(--wp--preset--spacing--small);
	padding-inline: var(--wp--preset--spacing--small);
	text-align: center;
}
