.ag-site-header {
	padding-block: 2em;
	padding-inline: var(--space-s);
	background: hsla(var(--black-ultra-light) / 0.1);
	position: relative;
	clear: both;

	@include mobile-landscape {
		padding-block: 1.5em;
	}

	&__container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__site-logo img {
		--size: 75px;
		width: var(--size);
		height: var(--size);
		aspect-ratio: 1 / 1;

		@include mobile-landscape {
			--size: 50px;
		}
	}

	li {
		margin-bottom: 0;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: underline;
			color: hsla(var(--primary));
		}
	}

	&__site-name {
		font-weight: 700;
		font-size: var(--h3);

		&:hover {
			color: hsla(var(--black));
		}
	}

	// Mobile menu
	&__navigation {
		display: flex;

		@include mobile-landscape {
			display: none;

			&.navigation--active {
				flex-basis: 100%;
				display: flex;
			}
		}
	}

	&__menu-toggle {
		display: none;
		background-color: transparent;
		border: 0;
		@include mobile-landscape {
			display: block;
		}
	}

	&__hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		--dimension: 20px;
		width: var(--dimension);
		height: var(--dimension);
		position: relative;

		&-line {
			display: block;
			width: 100%;
			height: 2px;
			background: hsla(var(--black));
			transition: transform 0.3s ease-in-out;
		}
	}

	&__nav-menu {
		display: flex;
		margin: 0;
		list-style: none;
		column-gap: var(--space-m);
		flex: 1 1 auto;

		@include mobile-landscape {
			flex-direction: column;
			padding: var(--space-s);
			background: hsla(var(--black-ultra-light) / 0.3);
			transition: transform 0.3s ease-in-out;

			li {
				padding: 0.5em 0;
			}

			li:not(:first-child) {
				border-top: 1px solid hsla(var(--black-light));
			}
		}
	}
}
