.ag-site-header {
	padding-block: 2em;
	padding-inline: var(--space-s);
	background: hsla(var(--black-ultra-light) / 0.2);

	@include mobile-landscape {
		padding-block: 1.5em;
	}

	&__container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__site-logo img {
		--size: 75px;
		width: var(--size);
		height: var(--size);
		aspect-ratio: 1 / 1;
	}

	@include mobile-landscape {
		&__site-logo img {
			--size: 50px;
		}
	}

	&__nav {
		display: flex;
	}

	&__menu {
		display: flex;
		margin: 0;
		column-gap: var(--space-m);
	}

	li {
		margin-bottom: 0;
	}

	a {
		color: inherit;
	}

	a:hover {
		text-decoration: none;
		color: hsla(var(--primary));
	}

	&__site-name {
		font-weight: 700;
		font-size: var(--h3);
	}

	& &__site-name:hover {
		color: hsla(var(--black));
	}
}
