@use "sass:math";
@use "sass:map";
@use "sass:list";

/**
 * Sort list
 * @return sorted list
 */
@function sort_list($list) {
	// From: https://www.tutorialspoint.com/sorting-function-in-sass
	$len: list.length($list);
	$sorted: false;

	@while not $sorted {
		$sorted: true;

		@for $i from 1 to ($len - 1) {
			$j: $i + 1;

			@if list.nth($list, $i) > list.nth($list, $j) {
				$temp: list.nth($list, $i);
				$list: set-list($list, $i, list.nth($list, $j));
				$list: set-list($list, $j, $temp);
				$sorted: false;
			}
		}
		$len: $len - 1;
	}

	@return $list;
}

/**
 * Round number
 * @return rounded number e.g: round_num(1.2345, 100) => 1.23
 */
@function round_num($num, $value: 1000) {
	@return math.div(math.round($num * $value), $value);
}

/**
 * Function for fluid typography
 * #{fluid(1rem, 3rem, 32rem, 128rem)};
 */
@function fluid($min-size, $max-size, $min-breakpoint, $max-breakpoint, $unit: vw) {
	$slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);

	$slope-to-unit: $slope * 100;
	$slope-to-unit: round_num($slope-to-unit, 100);

	$intercept: $min-size - $slope * $min-breakpoint;
	$intercept: round_num($intercept, 100);

	@return clamp(#{$min-size}, calc(#{$slope-to-unit}#{$unit} + #{$intercept}), #{$max-size});
}
