.ag-post-grid {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--space-l);

	@include tablet-landscape {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@include tablet-portrait {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	&__card {
		background: hsla(var(--white));
		border: 1px solid hsla(var(--black-light) / 0.3);
		position: relative;
		overflow: hidden;

		@include focus-within-outline;

		&-header {
			row-gap: var(--gap-s);

			&-image {
				max-height: 150px;
			}
		}

		&-body {
			flex: 1;
			justify-self: flex-end;
			row-gap: var(--gap-s);
			padding: var(--space-xs);

			&-cat {
				font-size: var(--text-s);
				order: -1;
			}
		}

		&-footer {
			@include flex-center;
			flex-direction: row;
			justify-content: space-between;
			padding: 0.75em var(--space-xs);
			background: hsla(var(--black-ultra-light) / 0.1);

			&-img {
				max-width: 40px;
				border-radius: 50vw;
				aspect-ratio: 1 / 1;
			}
		}
	}
}
