.ag-search {
	gap: 0.75em;

	// Search form
	&__form {
		display: flex;
		flex-direction: row;
		align-items: center;

		label {
			width: 40rem;
		}
	}

	&__results {
		padding: 0;
		margin: 0;
		gap: var(--gap-m);

		&-item {
			gap: var(--gap-s);

			&-title {
				font-size: var(--h3);
			}
		}
	}
}
