@use "../../abstracts/mixins/mixins";

.ag-search {
	gap: 0.75em;

	// Search form
	&__form {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;

		label {
			max-width: 40rem;
			width: 100%;

			@include mixins.tablet-landscape {
				width: auto;
			}
		}

		&-btn {
			background: hsla(var(--primary));

			&:hover {
				background: hsla(var(--primary-ultra-dark) / 0.9);
				color: hsla(var(--white));
			}
		}
	}

	&-results {
		padding: 0;
		margin: 0;
		gap: var(--wp--custom--gap--small);

		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: var(--wp--custom--gap--x-small);

			&-body {
				gap: 0.5em;
			}

			&-image {
				width: 300px;
				height: 100%;
				aspect-ratio: 16 / 9;
			}

			&-cat {
				font-size: 0.85em;
				order: -1;

				a {
					color: hsla(var(--primary));
					text-decoration: underline;
				}
			}

			&-title {
				font-size: var(--wp--preset--font-size--x-large) !important;
			}
		}
	}
}
