.ag-single-post {
	&__header {
		padding-block: var(--space-xl);
		padding-inline: var(--space-s);
		position: relative;
		min-height: 50rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-title,
		&-meta,
		&-taxonomy {
			color: hsla(var(--white));
		}

		&-taxonomy {
			font-size: 0.85em;
		}

		&-meta {
			flex-direction: row;
			align-items: center;
			gap: var(--space-s);

			&-author {
				flex-direction: row;
				width: auto;
				align-items: center;
				gap: 0.5em;
			}

			&-published-date,
			&-modified-date,
			&-author-name,
			&-comment-count {
				font-size: 0.85em;
			}

			&-author-img {
				border-radius: 50vw;
				max-width: 3.5rem;
				aspect-ratio: 1 / 1;
			}
		}

		&-bg-image {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			z-index: -1;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				background-color: hsla(var(--black) / 0.6);
			}
		}
	}

	&__postnav {
		padding-block: 0;
		// next and prev button navigation (related posts)
		&-next-btn,
		&-prev-btn {
			padding-inline: 0.5em;
		}
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		align-items: center;

		.nav-previous {
			margin-right: auto;
		}

		.nav-next {
			margin-left: auto;
		}
	}
}
