// Section: Elements
:where(section:not(section section)) {
	padding-block: var(--space-m);
	padding-inline: var(--space-s);
	gap: var(--gap-xxl);
}

.ag-container {
	width: var(--content-width);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	max-width: 100%;
	gap: var(--gap-m);
}

.ag-flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
}

@include tablet-portrait {
	.ag-container {
		flex-wrap: wrap;
	}
}
