// Section: Elements
.ag-section {
	display: flex;
	flex-direction: column;
	padding-block: var(--space-m);
	padding-inline: var(--space-s);
	gap: var(--gap-xxl);
}

.ag-container {
	width: var(--content-width);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	gap: var(--gap-m);

	@include tablet-portrait {
		width: auto;
		flex-wrap: wrap;
	}
}

.ag-flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
}

.ag-post-content {
	> * + p {
		margin-top: var(--space-m);
	}

	blockquote {
		margin-block: var(--space-m);
	}
}
