// Section: Elements
:where(section:not(section section)) {
	padding-block: 2em;
	padding-inline: 1em;
}

.ag-container {
	width: 1280px;
	display: flex;
	flex-direction: column;
	margin-inline: auto;
}
