<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--large);margin-bottom:var(--wp--preset--spacing--x-large)">
	<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

	<!-- wp:post-title {"level":1,"fontSize":"4-x-large"} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small","margin":{"top":"var:preset|spacing|x-small","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--x-small);margin-bottom:var(--wp--preset--spacing--medium)">
		<!-- wp:post-author {"showAvatar":true,"avatarSize":32,"showBio":false,"fontSize":"small"} /-->

		<!-- wp:post-date {"fontSize":"small"} /-->

		<!-- wp:post-comments-count {"fontSize":"small"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|medium"}},"border":{"radius":"8px"}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|large"} -->
	<div style="height:var(--wp--preset--spacing--large)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"label":"Previous Post"} /-->
	<!-- wp:post-navigation-link {"showTitle":true,"label":"Next Post"} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|large"} -->
	<div style="height:var(--wp--preset--spacing--large)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"agile/comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
