.no-sidebar {
	--ag-max-width: 80rem;

	.container--sidebar {
		max-width: var(--ag-max-width);
		display: flex;
	}
}

.has-sidebar {
	.container--sidebar {
		max-width: unset;

		&:has(aside, form) {
			display: grid;
			grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
			grid-gap: var(--space-m);
		}
	}
}
